*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.next{
    color: #eee;
    /* height: 30px;
    width: 30px; */
}
.body2{
    /* display: flex; */
    /*justify-content:center;
    align-items: center;*/
    
    position: absolute;
    width: 500px;
    height: 330px;
    border: 2px solid #eee;
    
    border-radius: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.body2 .deep{
    margin: 20px 40px;
}

.body2 .head{
    /* margin-right: -100px; */
    /* transform: scale(1.25); */
    /* width: 450px; */
    /* vertical-align: middle; */
    /* align-self: center; */
}

.xinren{
    margin-top: 70px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 70px;
}

.submit{
    width: 420px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: #1d9bf0;
    text-align: center;
    line-height: 34px;
    font-size: 20px;
}

.submit:hover{
    cursor:pointer;
    background-color: #0d8be0;
}