*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute; 
    width: 1250px;
    height: 900px;
	left: 50%;
	top: 50%;
	/* transform: translate(-50%,-50%); */
    margin-top: -450px;
    margin-left: -625px;
    border-radius: 20px;
    /* border: #eee solid 1px; */
}

.zuo{
    position: fixed;
    left: 230px;
    /* margin-right: 30px; */
    width: 268px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #999;
}

.zuo .zuobiaoqian .zhuye{
    
    margin-bottom: 25px;
    display: flex;
    justify-content:flex-start;
    align-items: center; /* 垂直居中 */
    /* text-align: center; */
    
    
    /* text-align: center; */
}

.zhuye a {
    text-decoration: none; /* 去除链接默认样式 */
}

.zhuye div {
    display: flex;
    align-items: center; /* 垂直居中 */
    font-size: 17px;
    width: 268px;
    /* border: 1px solid #999; */
}

.zhuye img {
    max-width: 100%; /* 图片宽度不超过父元素 */
    margin-right: 10px;
}

.zhuye p {
    margin: 0; /* 去除段落默认的外边距 */
}

.zhuye div:hover{
    font-weight: 700;
}

.fatie a div{
    width: 233px;
    height: 50px;
    line-height: 50px;
    background-color: #1d9bf0;
    border: 1px solid #999;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.fatie a div:hover{
    background-color: #0d8be0;
}

.ziliao{
    margin-bottom: 25px;
    margin-top: auto;
    margin-left: 12px;
    display: flex;
    width: 256px;
    
}

.sandian{
    margin-left: auto;
}

.zhong{
    position: absolute;
    left: 268px;
    width: 600px;
    height: 100vh;
}

.zhong .dingbu{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    width: 600px;
    height: 50px;
    border-bottom: 1px solid #999;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}

.zhong .dingbu a div{
    width: 285px;
    height: 50px;
}

.pinglun{
    margin-top: 60px;
}

.pinglun div .id{
    display: flex;
    justify-content: start;
}

.pinglun .leirong{
    margin: 0 10px 0 45px;
    font-size: 16px;
    overflow: hidden;
}

.pinglun .leirong img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 70%;
    max-height: 70%;
    
}

.pinglun .fuction{
    margin-left: 45px;
    display: flex;
    justify-content: start;
}

.you{
    position: fixed;
    left: 868px;
    width: 382px;
    height: 100vh;
    border-left: 1px solid #999;
}
.you .younr{
    margin: 0 auto;
}





/* 以下是发贴模态框 */
.caogao{
    display: grid;
    justify-content: end;
    color: #0d8be0;
}

.body002{
    width: 600px;
    height: 300px;
}


.modal{
    position:fixed; /* 占满整个屏幕 */
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);/* 调节背景为黑色，透明度0.3 */
    visibility: hidden;/*默认隐藏模态框*/
    transform: scale(1.1);/*设置为一个1.1倍的放大*/
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 11;
}
.modal-content{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    /* 居中 */
    width:36rem;
    background-color: white;
    border-radius: 0.5rem;  /* 边框圆角 */
    padding:0.5rem 1rem;
}
.active{
    visibility: visible;/*使模态框可见*/
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
}
.close-button{
    float: left;
    color: lightgray;
}
.close-button:hover{
    color: black;
    cursor: pointer;
}
/* 这里是文件上传按钮隐藏 */
.photoinput{
    display: none;
}

/* 以上是发贴模态框 */