*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute; 
    width: 1250px;
    height: 900px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    border-radius: 20px;
    /* border: #eee solid 1px; */
}

.zuo{
    margin-right: 30px;
    width: 268px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #999;
}

/* .zuo .zuobiaoqian {
    display: inline-block;
    width: 268px;
    
    
} */

/* .zuo .zuobiaoqian a{
    
} */

.zuo .zuobiaoqian .zhuye{
    
    margin-bottom: 25px;
    display: flex;
    justify-content:flex-start;
    align-items: center; /* 垂直居中 */
    /* text-align: center; */
    
    
    /* text-align: center; */
}

.zhuye a {
    text-decoration: none; /* 去除链接默认样式 */
}

.zhuye div {
    display: flex;
    align-items: center; /* 垂直居中 */
    font-size: 17px;
    width: 268px;
    /* border: 1px solid #999; */
}

.zhuye img {
    max-width: 100%; /* 图片宽度不超过父元素 */
    margin-right: 10px;
}

.zhuye p {
    margin: 0; /* 去除段落默认的外边距 */
}

.zhuye div:hover{
    font-weight: 700;
}

.fatie{
    /* margin-top: 30px; */
}

.fatie a div{
    width: 233px;
    height: 50px;
    line-height: 50px;
    background-color: #1d9bf0;
    border: 1px solid #999;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.fatie a div:hover{
    background-color: #0d8be0;
}

.ziliao{
    margin-bottom: 25px;
    margin-top: auto;
    margin-left: 12px;
    display: flex;
    width: 256px;
    
}

.sandian{
    margin-left: auto;
}

.zhong{
    width: 600px;
}

.you{
    width: 350px;
}