*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute; 
    width: 65.79%;
    height: 100%;
	left: 50%;
	top: 50%;
	/* transform: translate(-50%,-50%); */
    margin-top: -27.3%;
    margin-left: -32.55%;
    border-radius: 50%;
    /* border: #eee solid 1px; */
}

.zuo{
    position: fixed;
    left: 17.15%;
    /* margin-right: 30px; */
    width: 14.10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #999;
}

.zuo .zuobiaoqian .zhuye{
    
    margin-bottom: 25px;
    display: flex;
    justify-content:flex-start;
    align-items: center; /* 垂直居中 */
    /* text-align: center; */
    
    
    /* text-align: center; */
}

.zhuye a {
    text-decoration: none; /* 去除链接默认样式 */
}

.zhuye div {
    display: flex;
    align-items: center; /* 垂直居中 */
    font-size: 17px;
    width: 100%;
    /* border: 1px solid #999; */
}

.zhuye img {
    max-width: 100%; /* 图片宽度不超过父元素 */
    margin-right: 10px;
}

.zhuye p {
    margin: 0; /* 去除段落默认的外边距 */
}

.zhuye div:hover{
    font-weight: 700 !important;
}

.fatie a div{
    width: 86.94%;
    height: 50px;
    line-height: 50px;
    background-color: #1d9bf0;
    border: 1px solid #999;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.fatie a div:hover{
    background-color: #0d8be0;
}

.ziliao{
    margin-bottom: 25px;
    margin-top: auto;
    margin-left: 12px;
    display: flex;
    width: 95.52%;
    
}

.sandian{
    margin-left: auto;
}

.zhong{
    position: absolute;
    left: 21%;
    width: 48.07%;
    height: 100%;
}

.zhong .dingbu{
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 3.6%;
    border-bottom: 1px solid #999;
    line-height: 150%;
    text-align: center;
    font-size: 16px;
}

.dingbu {
    position: relative;
}

.tuijian, .guanzhuing {
    width: 47.5%; /* 设置宽度为 .dingbu 的 50% */
    height: 100%; /* 设置高度为 .dingbu 的 50% */
}

.inner-div {
    vertical-align: middle;
    width: 100%; /* 内部 div 宽度为父元素的 100% */
    height: 100%; /* 内部 div 高度为父元素的 100% */
}

.pinglun div .id{
    margin-top: 1.5%;
    display: flex;
    justify-content: start;
}

.pinglun .leirong{
    margin: 0 10px 0 45px;
    font-size: 14px;
    overflow: hidden;
}

.replyphotoinput{
    display: none;
}
/* -------------------------------- */
.pinglun a{
    transform: translate(0px,4px);
    /* margin: 0 10px 0 45px; */
    font-size: 14px;
    overflow: hidden;
}

.pinglunName{
    font-size: 15px;
    font-weight: bold;
}


/* ------------------------------- */
.pinglun .leirong img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 70%;
    max-height: 70%;
}

.pinglun .leirong video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 95%;
    max-height: 95%;
}

.pinglun .fuction div{
    display: flex;
}

.pinglun .fuction{
    margin-left: 7.5%;
    display: flex;
    justify-content: space-around;
}

.you{
    /* display: flex;
    justify-content: start; */
    position: fixed;
    top: 0%;
    left: 62.84%;
    width: 20%;
    height: 100%;
    border-left: 1px solid #999;
    
}
/* --------------------------------------------------------------------- */
.you .sousuo{
    display: flex;
    /* display: inline-block;  */
    margin-left: 7.9%;
    width: 100%;
    height: 4.6%;
}

.sousuo input{
    flex: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: transparent;
    text-indent:40px;
    /* opacity: 0; */
}






.sousuo input{
    width: 35px;
    height: 35px;
    align-self: center;
    background-image: url(../resource/右上角搜索.png);
    background-repeat: no-repeat;
}


.result-list{
    display: none;
    position:absolute;
    left:27px;
    top:39px;
    width:330px;
    border: 1px solid #8a8a8a;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 10px;/* 圆角 */
    
    background: #fff;
}
.result-list a{
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color:#424242;
    text-decoration: none;
}
.result-list a:hover{
    background-color: #e0e0e0;
}


/* ----------------------------------------------------------------------- */
.xinxianshi{
    margin-top: 2%;
    margin-left: 7.9%;
    width: 110%;
    height: 59.33%;
    background-color: #f7f9f9;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.xinxianshi img{
    width: 100%;
    height: 100%;
}

.tjgz{
    margin-top: 3%;
    margin-left: 7.9%;
    /* text-indent:5.14%; */
    width: 100%;
    height: 31.78%;
    background-color: #f7f9f9;
}

.tjgz img{
    width: 100%;
    height: 95%;
}

.caogao{
    display: grid;
    justify-content: end;
    color: #0d8be0;
}

.body002{
    width: 544px;
    height: 300px;
}


.modal{
    position:fixed; /* 占满整个屏幕 */
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);/* 调节背景为黑色，透明度0.3 */
    visibility: hidden;/*默认隐藏模态框*/
    transform: scale(1.1);/*设置为一个1.1倍的放大*/
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 11;
}






.modal-content{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    /* 居中 */
    width:36rem;
    height: 25rem;
    background-color: white;
    border-radius: 0.5rem;  /* 边框圆角 */
    padding:0.5rem 1rem;
}

.modal-content .caogao a{
    font-size: 14px;
    font-weight: 700;
    color: #1d9bf0;
}

.active{
    visibility: visible;/*使模态框可见*/
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
}
.close-button{
    float: left;
    color: lightgray;
}
.close-button:hover{
    color: black;
    cursor: pointer;
}
/* 这里是文件上传按钮隐藏 */
.photoinput{
    display: none;
}

.videoinput{
    display: none;
}

.replyvideoinput{
    display: none;
}

.a{
    white-space: noowrap;
}

.fatiewenzi{
    display: flex;
    margin-bottom: 5px;
}

.imgUpLoad{
    width:500px;
    height: 250px;
}

.replyimgUpLoad{
    margin-left: 40px;
    align-items: center;
    width:500px;
    height: 250px;
}


.tuiWenBiaoDan .faTieShuRu{
    vertical-align: top;
    width: 500px;
    /* height: 250px; */
}

.modal-content .imgUpLoad img{
    object-fit: contain;
    align-self: start;
    /* object-position: center;  */
    width: 90%;
    height: 90%;
}

.modal-content .imgUpLoad video{
    object-fit: contain;
    align-self: start;
    /* object-position: center;  */
    width: 90%;
    height: 90%;
}

.faTieShuRu{
    display: flex;
    justify-content: flex-end;
}

.replyShuRu{
    display: flex;
    justify-content: flex-end;
}
.fatiewenzi textarea{
    outline:none;
    border-color: transparent;
    resize: none;
    background: #f5f5f5;
    border-radius: 4px;
    /* flex:1; */
    padding:10px;
    transition: all 0.5s;
    height:50px;
}

.fatiewenzi textarea:focus{
    border-color: #e4e4e4;
    background: #fff;
    height: 60px;
}

.total{
    opacity: 0;
    transition: all 0.5s;
}

.total_active{
    opacity: 1;
    transition: all 0.5s;
}

.tuiWenBiaoDan .faTieShuRu{
    vertical-align: top;
    width: 470px;
    height: 40px;
}


.tuiWenBiaoDan .replyShuRu{
    vertical-align: top;
    width: 470px;
    height: 40px;
}

/* --------------------------------------- */
.body004{
    width: 544px;
    height: 400px;
}



.hfpl .leirong{
    margin: 0 10px 0 45px;
    
    font-size: 16px;
    overflow: hidden;
}

.hfpl .leirong img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 70%;
    max-height: 70%;
}

.hfpl .leirong video{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 95%;
    max-height: 95%;
}


/* 评论模态框------------------------------------------- */
.pinglunwenzi{
    display: flex;
    margin-bottom: 5px;
}
.commentModal{
    position:fixed; /* 占满整个屏幕 */
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);/* 调节背景为黑色，透明度0.3 */
    visibility: hidden;/*默认隐藏模态框*/
    transform: scale(1.1);/*设置为一个1.1倍的放大*/
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 11;
}

.comment-modal-content{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    /* 居中 */
    width:36rem;
    /* 控制模态框的大小 */
    height: 490px;
    background-color: white;
    border-radius: 0.5rem;  /* 边框圆角 */
    padding:0.5rem 1rem;
}

.comment-modal-content .caogao a{
    font-size: 14px;
    font-weight: 700;
    color: #1d9bf0;
}

.comment-modal-content .imgUpLoad img{
    object-fit: contain;
    align-self: start;
    /* object-position: center;  */
    width: 90%;
    height: 90%;
}

.comment-modal-content .imgUpLoad video{
    object-fit: contain;
    align-self: start;
    /* object-position: center;  */
    width: 90%;
    height: 90%;
}
.commentActive{
    visibility: visible;/*使模态框可见*/
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
}

.comment-close-button{
    float: left;
    color: lightgray;
}
.comment-close-button:hover{
    color: black;
    cursor: pointer;
}

.pinglunwenzi textarea{
    outline:none;
    border-color: transparent;
    resize: none;
    background: #f5f5f5;
    border-radius: 4px;
    /* flex:1; */
    padding:10px;
    transition: all 0.5s;
    height:50px;
}

.pinglunwenzi textarea:focus{
    border-color: #e4e4e4;
    background: #fff;
    height: 60px;
}
.replyer{
    margin-left:45px;
    margin-top:-18px;
    color:#1d9bf0;
}

.tuiwentext{
    /* margin-left:45px; */
    margin-top:-25px;
    color: #0d8be0;

}

.pinglunwenzi .faTieShuRu{
    vertical-align: top;
    width: 500px;
    /* height: 250px; */
}

.pinglunwenzi .replyShuRu{
    vertical-align: top;
    width: 500px;
    /* height: 250px; */
}

.total2{
    opacity: 0;
    transition: all 0.5s;
}

.total2_active{
    opacity: 1;
    transition: all 0.5s;
}

.beUserAccount2{
    color: #1d9bf0;
}

.beUserAccount{
    color: #7b7c7c;
}

.beUserTime{
    color: #7b7c7c;
}

.beUserName{
    font-weight: 900;
    font-size: 120%;
}

/* 头像控制*/
.tou{
    width:40px;
    height:40px;
    border-radius:40px 40px;
}